<header>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">顧客管理システム</a>
    <form class="form-inline">
      <% if current_staff_member %>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">ログアウト</button>
      <% else %>
        <button class="btn btn-success my-2 my-sm-0" type="submit">ログイン</button>
      <% end %>
    </form>
  </nav>
</header>