<header>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">顧客管理システム</a>
    <form class="form-inline">
      <%=
        if current_administrator
          link_to "ログアウト", :admin_session, method: :delete, class: "btn btn-outline-success my-2 my-sm-0" 
        else
          link_to "ログイン", :admin_login, class: "btn btn-success my-2 my-sm-0"
        end
      %>
    </form>
  </nav>
</header>